.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  h1 {
    color: blue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  h2 {
    text-align: center;
    font-weight: bold;
  }
  
  h3 {
    font-weight: bold;
  }
  
  table,th,td {
    padding: 10px;
  }
  
  .w3-container {
    border-radius: 25px;
    max-width: 600px;
    margin: auto;
    background-color:red
  }
  
  
  p {
    font: Arvo;
    font-size: large;
    line-height: 2;
  }
  
  img {
    border-radius: 50%;
    width: 300px;
    
  }
  
  .w3-container {
    border-radius: 25px;
    max-width: 600px;
    margin: auto;
    background-color:deepskyblue
  }

.topMenu {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topMenu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topMenu a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topMenu a.active {
  background-color: #04AA6D;
  color: white;
}