<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="keyword" content="Jimmy Wang">
  <meta name="description" content="Jimmy's Home Page">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


<h1> <img src="../static/images/headimage.jpg" th:src="@{/images/headimage.jpg}" class="center"></h1>

<div class="topMenu">
  <a class="active" href="springPrj.html" th:href="@{/comment}">Spring Project</a>
  <a href="#news">Java Script Project</a>
  <a href="#contact">Python Project</a>
  <a href="#about">Test</a>
</div>
<h1>Hi, I am Jimmy, This is my study website, ued to post my programming projects and articles </h1>


<table class="center">
  <tr>
    <td width="30%">
      <p>
      <header class="w3-container w3-white">
        <div class="w3-container center" >
          <h2 style="color:white">About</h2>
          <p>I was born in Shanghai at 2009, and I immigrated to the United States in 2018.
            I like to play games. This is a java game I made,  <a href="portfolio.html">"Pong"</a> .</p>
          <h3 style="color:deepskyblue;">-</h3>
            <h3 style="color:deepskyblue;">-</h3>
              <h3 style="color:deepskyblue;">-</h3>
        </div>

      </header>

      </p></td>
    <td width="70%" colspan="2">
      <header class="w3-container w3-white">
        <div class="w3-container center" >
          <h2 style="color:red;" >Skills:</h2>

          <div class="w3-light-grey w3-round">
            <h3>HTML</h3>
            <div class="w3-container w3-blue w3-round" style="width:80%">80%</div>
          </div><br>

          <div class="w3-light-grey w3-round-large">
            <h3>Python</h3>
            <div class="w3-container w3-blue w3-round-large" style="width:60%">60%</div>
          </div><br>

          <div class="w3-light-grey w3-round-xlarge">
            <h3>Java</h3>
            <div class="w3-container w3-blue w3-round-xlarge" style="width:50%">50%</div>

          </div>
          <h3 style="color:deepskyblue;">-</h3>
        </div>

      </header>
    </td>
  </tr>


  <tr> <td><h2 >
    <header class="w3-container w3-white">
      <div class="w3-container center" >
        <h2 style="color:white">Dream Goal</h2>
        <p>
          I have a dream, that is to make a game that everyone plays. And to achieve that dream, I will need to do four things.<br/>
          Firstly, imagination is important. You will need imagination to create new things, like Elon Musk, he is very imaginative and successful. <br/>
          Secondly, the professional skills, such as deep thinking, logic and coding. I will need a skill of deep thinking to have a better understanding of everything, and a good logic thinking. I can learn this skill from mathematic, science, and language art classes in school; I will also need a good coding skill to code a game that everyone plays.<br/>
          Thirdly, you need a good control of time, in other word time planning. Like if you didn’t plan. You might get up late, eating breakfast late, and just wasting time. And a day might be over before you even do anything.<br/>
          Last, you will need a healthy body and good time of exercise, you don’t just need knowledge, but also physical health.<br/>
          These are the four important things I have to do to achieve my dream. So that I will have to do these before I can’t!
        </P>
      </div>

    </header>
  </h2></td>

    <td width="70%" colspan="2">
      <header class="w3-container w3-white">
        <div class="w3-container center" >
          <h2 style="color:white">Family Members</h2>
          <p> Jimmy - Me </P>
          <p> Alisa - Sister</P>
          <p> Wendy - Mom </P>
          <p> Peter - Dad </P>
        </div>

      </header>
    </td>


    </td>
  </tr>
  <tr>



    </td>
  </tr>
  <tr>

    <td></td>
  </tr>
</table>

</body>