<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="keyword" content="Jimmy Wang">
  <meta name="description" content="Jimmy's Home Page">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


<h1> <img src="../static/images/headimage.jpg" th:src="@{/images/headimage.jpg}" class="center"></h1>
<body style="background-color:lightskyblue;">

<div class="topMenu">
  <a class="active" href="index.html"  th:href="@{/home}" >Home</a>
  <a class="active" href="springPrj.html" th:href="@{/comment}">Spring Web Application</a>
  <a href="#news">Games Made</a>
  <a href="#contact">Science & Technology</a>
  <a href="#about">My Family</a>
  <a class="active" href="mailto:jimmywang326@gmail.com">Contact Me</a>
</div>




<table class="center">
  <tr>
    <td colspan="2">
      <p style="text-align:center;"><img src="../static/images/who.jpg" th:src="@{/images/who.jpg}" ></p>
      <h3>I am Jimmy Wang, I was born at Shanghai on 2009. I live at Los Angeles now. I study at <a href="https://www.friendschristian.org/">Friends Christian</a></h3>
    </td>
  </tr>
    <td colspan="2" >
      <p style="text-align:center;"><img src="../static/images/goal.jpg" th:src="@{/images/goal.jpg}" ></p>
      <h3>
          I have a goal, that is to make a game that many people play. To achieve that goal, I will need to have imagination, be strong in science,
          have a good control of time and be healthy. This website is mostly to train my science and programing knowledge.
      </h3>
    </td>
  </tr>


  <tr>
    <td colspan="2">
      <p style="text-align:center;"><img src="../static/images/skills.jpg" th:src="@{/images/skills.jpg}" ></p>
    </td>
    </tr>
  <tr>
    <tr>
  <td colspan="2">
     <h2>Computer Skills:</h2><h3>I have learned some python, html, and I have just finished Java 1 training and ready to take Java II. I also have some
     configuration experiences such as setting up a server in minecraft, running an application at Amazon. If you click <a href="springPrj.html" th:href="@{/comment}">here</a>,
       you can see a project built with Spring Boot. Even though it is quite simple, it has covered a lot of the knowledge regarding
       web application development, from front end to back end.
     </h3>

    </td>
  </tr>
  <td>
    <h2>Chess</h2><img src="../static/images/chess.jpg" th:src="@{/images/chess.jpg}">

  </td>
  <td>
    <h2>Math</h2><img src="../static/images/math.jpg" th:src="@{/images/math.jpg}"></h2><h3>
  </td>
  </tr>
</table>

</body>