<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="keyword" content="Jimmy Wang">
  <meta name="description" content="Jimmy's Home Page">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


<h1> <img src="../static/images/headimage.jpg" th:src="@{/images/headimage.jpg}" class="center"></h1>

<div class="topMenu">
  <a class="active" href="index.html"  th:href="@{/home}" >Home</a>
  <a class="active" href="springPrj.html" th:href="@{/comment}">Spring Web Application</a>
  <a href="#news">Games Made</a>
  <a href="#contact">Science & Technology</a>
  <a href="#about">My Family</a>
</div>
<h1>Hi, I am Jimmy Wang, I was born on 2009. I live at Los Angeles now and I was from Shanghai. I study at <a href="https://www.friendschristian.org/">Friends Christian</a></h1>


<table class="center">
  <tr>
    <td width="30%">
      <p>
      <header class="w3-container w3-white">
        <div class="w3-container center" >
           <img src="../static/images/dream.jpg" th:src="@{/images/dream.jpg}">
        </div>

      </header>

      </p></td>
    <td width="70%" colspan="2">
      <header class="w3-container w3-white">
        <p>
          I have a dream, that is to make a game that everyone plays. To achieve that dream, I will need to have imagination, be strong in science,
          have a good control of time and be healthy. This website is mostly to train my science and programing knowledge. If you press <a href="springPrj.html">here</a>,
          you can see a project built with Spring Boot. Even though it is quite simple, it has covered a lot of the knowledge regarding
          web application development, from front end to back end.
        </P>

      </header>
    </td>
  </tr>


  <tr>
    <td width="30%">
       <header class="w3-container w3-white">
      <div class="w3-container center" >
        <h2 style="color:white">My Skills: Chess</h2><br>
        <img src="../static/images/chesstournament.jpg" th:src="@{/images/chesstournament.jpg}">
      </div>

    </header>
  </h2></td>
    <td width="30%">
    <header class="w3-container w3-white">
      <div class="w3-container center" >
        <h2 style="color:white">Math</h2><br>
        <img src="../static/images/MathOlympic.jpg" th:src="@{/images/MathOlympic.jpg}">
        </div>
    </header>
    </h2></td>

    <td width="40%" >
      <header class="w3-container w3-white">
        <div class="w3-container center" >
          <div class="w3-container center" >
            <h2 style="color:white">Computer:</h2>

            <div class="w3-light-grey w3-round">
              <h3>HTML,CSS</h3>
              <div class="w3-container w3-blue w3-round" style="width:80%">80%</div>
            </div><br>

            <div class="w3-light-grey w3-round-large">
              <h3>Python</h3>
              <div class="w3-container w3-blue w3-round-large" style="width:60%">60%</div>
            </div><br>

            <div class="w3-light-grey w3-round-xlarge">
              <h3>Java, Spring Boot Framework, MySQL</h3>
              <div class="w3-container w3-blue w3-round-xlarge" style="width:50%">60%</div>

            </div>
            <h3 style="color:deepskyblue;">-</h3>
          </div>

        </div>

      </header>
    </td>


    </td>
  </tr>
</table>

</body>