<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keyword" content="Jimmy Wang">
    <meta name="description" content="Jimmy's Home Page">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


<h1> <img src="../static/images/headimage.jpg" th:src="@{/images/headimage.jpg}" class="center"></h1>

<div class="topMenu">
    <a class="active" href="index.html"  th:href="@{/home}">Home</a>
    <a class="active" href="springPrj.html" th:href="@{/comment}">Spring Web Application</a>
    <a href="#news">Games Made</a>
    <a href="#contact">Science & Technology</a>
    <a href="#about">My Family</a>
</div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
          <h1 style="text-align: center;"><span style="color: #ff6600;"><em><strong>Comments</strong></em></span></h1>
          <h2 style="text-align: center;"><span style="color: #ff9900;">Please leave your comments so we can exchange ideas in programming</span></h2>
          <h2 style="text-align: center;"><span style="color: #ff0000;"><strong>Note: This page is built with Spring Boot Framework. Your comments/email left in the input boxes
          will be stored in the backend mySQL databases, and be redisplayed on the site. It is the basic structure of a web application.

          </strong></span></h2>
      </div>
    </div>
  </div>


<div class="main">
  <div class="container">
      <div>
        <form action="#" th:action="@{/springPrj/add}" th:object="${comment}" method="post">
            <table>
         <tr>
             <td>Name:</td><td><input type="text" th:field="*{name}"></td>
         </tr>

            <td>Email:</td> <td><input type="text" th:field="*{email}"></td>
         </tr>
         <tr>
          <td>Comment: </td><td><input type="text" th:field="*{commentValue}"></td>

          </tr>
            </table>

          <input type="submit" >
        </form>


      </div>
      <div>
          <table>
              <tr th:each="comment: ${commentsList}">
                  <th scope="row" th:text="${comment.name}">Said:</th>
                  <th scope="row" th:text="${comment.commentValue}"></th>
              </tr>
          </table>
      </div>
    <ul id="comments" class="comments">
     </ul>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="myScript.js"></script>

</body>
</html>